In [120]:
import pandas as pd
import numpy as np
import os
import re

In [121]:
path = os.path.join('..', 'data', 'budget-data-new')

files = os.listdir(path)

if '.DS_Store' in files:
    files.remove('.DS_Store')

files[:5]

['Municipio do Seixal_22290.tsv',
 'AREFICIENTE_22250.tsv',
 'valinox_18623.tsv',
 'Aramus_18636.tsv',
 'ATM_22265.tsv']

In [122]:

def extract_company_name_and_quote_id(file_name):
    split = file_name.split('_')
    return split[0], split[1].strip('.tsv')

new_df_rows = []

for file in files:
    df = pd.read_csv(os.path.join(path, file), sep='\t', encoding='utf-8')
    
    company_name, quote_id = extract_company_name_and_quote_id(file)
    
    for index, row in df.iterrows():
        new_df_rows.append([
            company_name,
            quote_id,
            row['dimensions'],
            row['qtd'],
            row['punit']
        ])

In [123]:
new_df = pd.DataFrame(
    columns=['company_name', 'quote_id', 'description', 'qty', 'unit_price'],
    data=new_df_rows
)

new_df

,company_name,quote_id,description,qty,unit_price
0,Municipio do Seixal,22290,Filtros MV/G4.445.622.44,2.0,11.50
1,Municipio do Seixal,22290,Filtros MV/G4.391.622.44,1.0,11.25
2,Municipio do Seixal,22290,Filtros F7.592.592.520.25.10,2.0,25.45
3,Municipio do Seixal,22290,Filtros F7.592.592.520.25.10,2.0,25.45
4,Municipio do Seixal,22290,Filtros MV/G4.448.448.48,2.0,10.25
...,...,...,...,...,...
782,ATM,18579,Filtros MV/G4.630.495.48,2.0,7.80
783,ATM,18579,Filtros MV/G4.875.670.145,1.0,27.50
784,ATM,18579,Filtros F7.592.592.500.25.7,13.0,14.95
785,ATM,18579,Filtros F7.287.592.500.25.4,2.0,11.95
786,ATM,18579,Filtros F7.592.287.500.25.7,1.0,14.50

In [115]:
new_df.to_csv('../data/budget-data.csv', index=False, encoding='utf-8')

In [116]:
df = pd.read_csv('../data/budget-data.csv')
df

,company_name,quote_id,description,qty,unit_price
0,Municipio do Seixal,22290,Filtros MV/G4.445.622.44,2.0,11.50
1,Municipio do Seixal,22290,Filtros MV/G4.391.622.44,1.0,11.25
2,Municipio do Seixal,22290,Filtros F7.592.592.520.25.10,2.0,25.45
3,Municipio do Seixal,22290,Filtros F7.592.592.520.25.10,2.0,25.45
4,Municipio do Seixal,22290,Filtros MV/G4.448.448.48,2.0,10.25
...,...,...,...,...,...
782,ATM,18579,Filtros MV/G4.630.495.48,2.0,7.80
783,ATM,18579,Filtros MV/G4.875.670.145,1.0,27.50
784,ATM,18579,Filtros F7.592.592.500.25.7,13.0,14.95
785,ATM,18579,Filtros F7.287.592.500.25.4,2.0,11.95
786,ATM,18579,Filtros F7.592.287.500.25.7,1.0,14.50